footer {
    background-color: #275629;
    text-align: center;
    padding: 1rem 0;
    p {
        color: white;
        font-weight: 100;
        justify-content: space-between;
        text-align: center;
    }
}




.iglogo{
display: inline-block;
width: 3rem;
height: 3rem;
align-items: center;
}

.ytlogo {
width: 3rem;
height: 3rem;
align-items: center;
        }